<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css"></script>
<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>