{{>layout/header}}

<h1>게시글 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="author"> 비디오 URL </label>
                <input type="text" class="form-control" id="videoUrl" placeholder="비디오 URL을 입력하세요">
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="test">최근 매치 히스토리</label><br>
                {{#matchInfo}}
                    <br>
                    <input type="radio" id="matchId" name="matchId" value="{{matchId}}">
                    {{#redTeam}}
                        <img src="{{championName}}" alt="이미지" width="50" height="50">
                    {{/redTeam}}
                    VS
                    {{#blueTeam}}
                        <img src="{{championName}}" alt="이미지" width="50" height="50">
                    {{/blueTeam}}
                    <br>
                {{/matchInfo}}
            </div>
            <br>
            <br>

        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}